*{
    margin: 0px;
    padding: 0px;
}

body{

    background: #ffffff;

}
h2 title{
    margin-bottom: 60px;
}

#navbar_logo {
    width:80%;
}

#btn_irRegistro{
    font-family: Georgia;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    color: #ffffff;
    background-color: #a6d176;
    border-radius: 6px;

}
#link_registro{
    cursor: puntero;
    text-decoration: none;
}

#btn_irRegistro :visited{
    color: rgb(255, 255, 255);
}


section .articles img{
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
    box-shadow: 7px 13px 37px #000;
}

header, .main, footer{
 
    width: 90%;
    max-width: 1000px;
    margin:20px auto;
    
    }

p{
    line-height: 25px;
    padding-top: 25px;
    text-align: justify;
    font-family: 'calibri';

}    

  

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px;

}
nav ul{
    overflow: hidden;
}
nav ul li a{
    padding: 10px 20px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover{
    background: #b2b5b8;
}


/*
header nav{
    background: #528fd5;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}

header nav ul li a:hover{
    background: #75ACEC;
}

*/
.main .articles{
    width: 68.5%;
    float: right;
    margin-right: 1.5%;
}

.main .articles article{
    padding: 20px;
    margin-bottom: 20px;
}

aside{
    width: 30%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    clear: both;
    padding: 10px 0px;
    text-align: center;
}

